.card-spotlight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 28rem;
  height: 100%;
  border-radius: 1.5rem;
  border: 1px solid #222;
  background-color: rgb(116, 78, 78);
  padding: 1rem;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(255, 255, 255, 0.05);
}

.card-spotlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    var(--spotlight-color),
    transparent 80%
  );
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
  opacity: 0.6;
}

.containerProyects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center; 
  gap: 2rem;
  padding: 1rem;
  align-items: stretch;
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem 1rem 0 1rem;
  gap: 1rem;
}

.card-title {
  font-size: 1.7rem;
  margin-bottom: 8px;
  color: #ddd;
}

.card-description {
  font-size: 1.1rem;
  color: #ddd;
  margin-bottom: 10px;
  margin: 0;
}

.card-languages {
  list-style: none;
  display: flex;
  gap: 8px;
  padding: 0;
}

.card-language {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  color: #ddd;
  align-content: center;
}
.containerLiveDemo {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.card-button {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 0.6rem 0.8rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

.icon-image {
  width: 34px;
  height: 34px;
}

@media screen and (max-width: 1024px) {
  .containerProyects {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-spotlight {
    width: 100%;
    max-width: 100%;
  }
  .card-title {
    font-size: 1.5rem;
  }
  .card-description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .containerProyects {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .card-spotlight {
    width: 80%;
    padding: 1.5rem;
  }
  .card-title {
    font-size: 1.3rem;
  }
  .card-description {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .containerProyects {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-spotlight {
    width: 95%;
    padding: 1rem;
  }
  .card-title {
    font-size: 1.2rem;
  }
  .card-description {
    font-size: 0.9rem;
  }
  .card-languages {
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-language {
    font-size: 0.8rem;
    padding: 4px 8px;
  }
  .card-button {
    font-size: 0.9rem;
    padding: 6px 10px;
  }
}
